
body {
    background-color: #f542f2;
    text-decoration: none;
}

/* Begin CSS for main navigation bar */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
.navbar {
    background-color:  #f542f2;
    font-size: 3.5rem;
    font-family: "Dharma Punk";
}
  
.main-nav {
    list-style-type: none;
    display: none;    
}

.main-nav a:before,
.main-nav a::after {
    background-color: white;
    width: 0;
}

.main-nav li.active > a {
    background-color: transparent;
}
  
.main-nav a::before {
    top: 0;
    left: 0;
}
  
.main-nav a::after {
    bottom: 0;
    right: 0;
}
  
.main-nav a:hover,
.main-nav li.active > a {
    color: white;
    transition: all 0.35s ease;
}
  
.main-nav a:hover::before,
.main-nav .active a::before,
.main-nav a:hover::after,
.main-nav .active a::after {
    width: 100%;
}

.links,
.logo {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    text-transform: uppercase;
    font-family: "Dharma Punk";
    padding-bottom: 1.8rem;
    padding-top: 2.3rem;
}
  
.main-nav li {
    text-align: center;
    letter-spacing: 0.02em;
}

.main-nav li a {
    color: rgba(243, 241, 241, 0.664);
}
  
.logo {
    display: inline-block;
    padding-left: 1rem;
}
  
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}
  
#mobileToggle {
    display: none;
}
  
#mobileToggle:checked + ul.main-nav {
    display: block;
}


@media screen and (min-width: 1400px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: .8em;
      padding-top: 1.2em;
      height: 70px;
      align-items: center;
    }
  
    #mobileToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }

  }

/* End navbar CSS */

/* Begin CSS for news posters */

.news-card {
    background-image: url(poster7.png);
    background-size: 100% 100%;
    border-radius: 0;
    margin: auto;
    width: 90%;
  }
  
.news-card ul {
    list-style-type: none;
    margin: 0;
}
  
.news-card ul li {
    margin-left: 14%;
    margin-right: 14%;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
  
.news-card ul li p {
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 14%;
    font-size: 4rem;
    font-family: "Punk Kid";
}

.news-card ul li a {
    color: #4d154c;
    font-weight: bolder;
}

.news-card .card-section ul {
    padding-bottom: 10rem;
}

.news {
    background: url(concretebio7.svg);
    position: absolute;
    left: 0;
    right: 0;
    min-height: 100%;
    margin-bottom: -142px;
}

.news h3 {
    font-size: 4em;
    font-family: "Punk Kid";
    text-align: center;
    color: #581857;
}

.news:after {
    content: "";
    display: block;
}
  
@media screen and (max-width: 1000px) {
    .news-card ul li p {
      margin-left: 8%;
      margin-right: 8%;
      margin-top: 6%;
      font-size: 2em;
      font-family: "Punk Kid";
    }
    .news-card ul li {
        font-size: 1em;
    }
}

/* End poster CSS */
  
.footer, .news:after {
    height: 142px;
}
