body {
    background-color: #f542f2;
}


.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.02em;
    transition: all 0.35s ease;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-left: .5em;
    font-family: "Dharma Punk";
}
  
.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
}
  
.menu-hover-lines li:first-child a {
    margin-left: 0;
}
  
.menu-hover-lines li.active > a {
    background-color: transparent;
}
  
.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: white;
    width: 0;
}
  
.menu-hover-lines a::before {
    top: 0;
    left: 0;
}
  
.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}
  
.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}
  
.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}

.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("concrete.svg") center center no-repeat;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: #fefefe;
    font-weight: bold;
  }
  
  
  .marketing-site-footer-bottom {
    background: #f542f2;
    padding: 1rem 0;
  }
  
  .marketing-site-footer-bottom p,
  .marketing-site-footer-bottom .menu {
    margin-bottom: 0;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
    color: black;
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom {
      text-align: center;
    }
  }
  
  .timeline .timeline-item::after, .timeline .timeline-item::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
  
  .timeline {
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
    transition: all 0.25s ease-in;
    width: 100%;
    background: url(concretebio8.svg);
  }
  
  .timeline::before {
    background: #fefefe;
    content: '';
    margin-top: 12em;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }
  
  .timeline::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }
  
  .timeline a {
    color: white;
    font-weight: bold;
    transition: all 0.25s ease-in;
  }
  
  .timeline a:hover {
    box-shadow: 0 1px 0px 0px #fefefe;
    transition: all 0.25s ease-in;
  }
  
  .timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
  }
  
  .timeline .timeline-item .timeline-icon {
    background: #fefefe;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin-left: -23px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .timeline .timeline-item .timeline-icon img,
  .timeline .timeline-item .timeline-icon svg {
    left: 14px;
    position: relative;
    top: 11px;
  }
  
  .timeline .timeline-item .timeline-icon svg {
    top: 14px;
  }
  
  .timeline .timeline-item .timeline-content {
    padding: 20px;
    text-align: right;
    transition: all 0.25s ease-in;
    width: 45%;
    background: transparent;
  }
  
  .timeline .timeline-item .timeline-content p {
    color: white;
  }
  
  .timeline .timeline-item .timeline-content p {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  .timeline .timeline-item .timeline-content .timeline-content-date {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .timeline .timeline-item .timeline-content .timeline-content-month {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .timeline .timeline-item .timeline-content.right {
    float: right;
    text-align: left;
  }
  
  .timeline h2 {
    font-family: "Punk Kid";
    text-align: center;
    font-size: 4em;
    color: rgb(240, 130, 212);
    z-index: 1;
    margin-bottom: 1em;
  }

  @media screen and (max-width: 39.9375em) {
    .timeline {
      padding: 0;
      width: 100%;
    }
    .timeline::before {
      left: 0;
    }
    .timeline .timeline-item .timeline-content {
      float: right;
      text-align: left;
      width: 90%;
    }
    .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
      border-left: 0;
      border-right: 7px solid #fefefe;
      left: 10%;
      margin-left: -6px;
    }
    .timeline .timeline-item .timeline-icon {
      left: 1em;
    }
    .type-sidelines span {
        display: inline-block;
        position: relative;
        padding-left: .5em;
        padding-right: .5em;
      }
}

.callout.primary {
    background: #f07aee;
}

.callout.primary h1 {
    font-family: "Punk Kid";
    font-size: 6em;
}

#menutree label {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  color: #f542f2;
  font-size: 1.1em;
}

#menutree1 label {
  position: relative;
  display: block;
  width: 80%;
  cursor: pointer;
  color: white;
  font-size: 1.1em;
}

#menutree input[type=checkbox] {
  display: none; 
}

#menutree1 input[type=checkbox] {
  display: none; 
}

li.collapse ul {
  visibility: hidden;
  opacity: 0;
  max-height: 0; 
  transition: all 0.5s;
}
label::after {
  content: "\25b6";
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

li.collapse input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  max-height: 2000px; 

}
li.collapse input:checked ~ label::after {
  transform: rotate(90deg);
}

#menutree {
  margin: 10px;
  padding: 0;
}
#menutree li {
  list-style: none;
  padding: 20px 10px;
  border-bottom: 1px solid #86AAD4;
}
#menutree li:last-child {
  border: 0;
}
#menutree a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

#menutree p {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

#menutree1 {
  margin: 10px;
  padding: 0;
}
#menutree1 li {
  list-style: none;
  padding: 10px 10px;
  border-bottom: 1px solid #86AAD4;
}
#menutree1 li:last-child {
  border: 0;
}
#menutree1 a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}


.portfolio-resume-scrolling-container {
  height: 3000px;
  width: 1400px;
  border: 1px solid #cacaca;
  background-image: url("concretebio8.svg");
}

.portfolio-resume-overview {
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: 1;
  z-index: 0;
}

.portfolio-resume-overview:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/866b6140-6e65-48fe-82b8-09d1c6dfcde3/d9efzq4-e1aeae8e-5c72-481c-a464-2849ce1147ee.jpg/v1/fill/w_894,h_894,q_70,strp/white_square__4k__by_flutterspon_d9efzq4-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDk2IiwicGF0aCI6IlwvZlwvODY2YjYxNDAtNmU2NS00OGZlLTgyYjgtMDlkMWM2ZGZjZGUzXC9kOWVmenE0LWUxYWVhZThlLTVjNzItNDgxYy1hNDY0LTI4NDljZTExNDdlZS5qcGciLCJ3aWR0aCI6Ijw9NDA5NiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.OB_MXmDpkXjner_601fbB-eHONOcREhFb9J752JY9QM");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.portfolio-resume-overview-content {
  max-width: 300px;
  z-index: 1;
}

.portfolio-resume-scrolling {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 2000px;
}

@media print, screen and (min-width: 40em) {
  .portfolio-resume-scrolling {
    height: 400px;
    overflow-y: auto;
  }
}

.columns h3 {
  color: white;
  text-align: center;
  margin-top: .5em;
  font-family: "Punk Kid";
  font-size: 3em;
}


.card {
  background: url(poster7.svg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  border-radius: 0;
  text-align: center;
  margin: auto;
  position: relative;
}

.card .card-content {
  padding: 0.5rem 1rem 0.875rem;
}


.card .card-label-text {
  color: #fefefe;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -2.5rem;
  top: 2px;
  white-space: nowrap;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.news {
  background: url(concretebio7.svg);
  /*background-color: white;*/
  position: absolute;
  left: 0;
  right: 0;
}

.card.News h3 {
  font-family: "Punk Kid";
  font-size: 170%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  

}

.card.News p {
  font-size: 100%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
}


.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #3966c7;
  color: white;
  font-size: 1.6em;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  background-color: black;
}


@media screen and (max-width: 640px) {
  
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  /*
  .responsive-card-table tr {
    display: block;
  }
  
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 50%;
    position: relative;
  }
  *//*
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  */
  /*
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #61bbbe;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}
*/
}

@media screen and (max-width: 640px) {

.card {
  background: url("poster7sm.svg") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  border-radius: 0;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.card.News h3 {
  font-family: "Punk Kid";
  font-size: 150%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.card.News p {
  font-size: 100%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}
}


@media screen and (min-width: 641px) and (max-width: 1400px) {

  .card {
    background: url("poster7sm.svg") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  
  .card.News h3 {
    font-family: "Punk Kid";
    font-size: 150%;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  .card.News p {
    font-size: 100%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
  }


}

.gigs {
  display: flex;
}

.tablesize {
  width: 40%;
  margin-top: .7em;
}

.map {
  flex: 1;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(240, 194, 237);
  flex-direction: row;
}

.map h4 {
  font-family: 'Punk Kid';
  font-size: 3em;
}

@media screen and (max-width: 640px) {
  .gigs {
    flex-direction: column;
  }
  .tablesize {
    width: 100%;
  }
  #menutree1 a {
    display: block;
    width: 90%;
    text-decoration: none;
    color: white;
  }
  #menutree1 label {
    position: relative;
    display: block;
    width: 90%;
    cursor: pointer;
    color: white;
    font-size: 1.1em;
  }
}

.lyrics {
  width: 100%;
}

td p {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}
